* {
  padding: 0;
  margin: 0;
  }

h1{
  color: red;
  padding: 0;
  margin: 0;
  position: absolute;
  margin-left: 25%;
  margin-top: 5%;
  text-align: center;
}
h2{
  text-align: right;
}
.bControls{
  color: skyblue;
}
.oControls{
  color: darkorange;
}
.start{
  text-decoration:overline;
  font-weight: bold;
  margin-right: 150px;
}
main{
  width: 500px;
  height: 500px;
  background-color: black;
  position: absolute;
  z-index:-1;
  display: block;
  margin-left: 10%;
  margin-top: 10%;
}
.bike1{
  background-color: lightblue;
}
.bike2{
  background-color: orange;
}
.bike3{
  background-color: red;
}
.bike4{
  background-color: purple;
}
.trail{
  background-color: lightblue;
}
.trail2{
  background-color: orange;
}
.trail3{
  background-color: red;
}
.trail4{
  background-color: purple;
}

td{
  width: 10px;
  height: 10px;
}

table{
  border-spacing: 0px;
}
.wall{
  background-color: blue;
}
.blank{
}
