* {
  padding: 0;
  margin: 0;
  }

h1{
  color: orange;
  /* text-align: center; */
  /* margin: auto; */
}
main{
  width: 500px;
  height: 500px;
  background-color: black;
  position: absolute;
  z-index:-1;
  display: block;
  margin-left: 10%;
  margin-top: 10%;
}
.bike1{
  background-color: lightblue;
}
.bike2{
  background-color: orange;
}
.trail{
  background-color: red;
}

td{
  width: 5px;
  height: 5px;
}
th{
  width: 5px;
  height: 5px;
}
table{
  border-spacing: 0px;
}
.wall{
  background-color: blue;
}
.blank{
  border-color: white;
}
