* {
  padding: 0;
  margin: 0;
  }

h1{
  color: white;
  text-align: center;
  font-family: sans-serif;
}
h2{
  text-align: center;
}
.instructions{
  text-align: right;
  margin-right: 10%;
  font-family: "Arial", Times, serif;
  color: white;
  font-size: 35px;
}
.downArrow{
  float: right;
  width: 200px;
  height: 100px;
  margin-right: 8%;
  margin-top: 65px;
  transform: rotate(90deg);
}
.bControls{
  color: deepskyblue;
  text-align: center;
  font-size: 35px;
}
.oControls{
  color: darkorange;
  text-align: center;
  font-size: 35px;
}
.rControls{
  color: red;
  text-align: center;
  font-size: 35px;
}
.pControls{
  color: purple;
  text-align: center;
  font-size: 35px;
}
.start{
  text-decoration:overline;
  font-weight: bold;
  text-align: center;
  color: Seashell;
  font-size: 35px;
}
.nort{
  margin: auto;
  display: block;
  border-style: double;
  border-color: hotpink;
}
.background1{
  width: 100%;
  height: 100%;
  z-index:-2;
  margin: 0;
  padding: 0;
  position: absolute;
}
.background2{
  width: 100%;
  height: 100%;
  z-index:-2;
  margin: 0;
  padding: 0;
  position: absolute;
  transform: rotate(180deg);
}
main{
  width: 500px;
  height: 500px;
  background-color: black;
  position:static;
  z-index:-1;
  display: block;
  margin: auto;
  margin-top: 0%;
}
.bike1{
  background-color: lightblue;
}
.bike2{
  background-color: orange;
}
.bike3{
  background-color: red;
}
.bike4{
  background-color: purple;
}
.trail{
  background-color: lightblue;
}
.trail2{
  background-color: orange;
}
.trail3{
  background-color: red;
}
.trail4{
  background-color: purple;
}

td{
  width: 10px;
  height: 10px;
}

table{
  border-spacing: 0px;
}
.wall{
  background-color: blue;
}
.blank{

}

@media screen and (max-width: 1090px){
.downArrow{
  display: none;
}
.instructions{
  display: none;
}
}
